html {
    background: #ff8000;
    background: linear-gradient(55deg, rgba(255, 128, 0, 1) 0%, rgba(253, 227, 29, 1) 66%, rgba(200, 252, 69, 1) 100%);
    margin: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3.5em;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

h2 {
    font-family: 'Dancing Script';
    text-align: center;
    margin: 5px 0;
    color: #444;
}

#piano {
    width: 992px;
    height: 290px;
    margin: 20px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.keys {
    background-color: #000000;
    width: 949px;
    height: 180px;
    padding-left: 2px;
    overflow: hidden;
    border-radius: 5px;
}

.key {
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.key:hover {
    background-color: #f0f0f0;
}

.key.black--key::after {
    background-color: #1d1e22;
    content: "";
    position: absolute;
    left: -18px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    z-index: 2;
}

.key.black--key:hover::after {
    background-color: #333;
}

.logo {
    width: 200px;
    position: absolute;
    top: 23px;
}

/* Media Queries for responsive centering */
@media (max-width: 768px) {

    #piano {

        width: 358px;

    }

    .keys {

        width: 318px;

    }

    .logo {

        width: 150px;

    }

}

@media (max-width: 1199px) and (min-width: 769px) {

    #piano {

        width: 675px;

    }

    .keys {

        width: 633px;

    }

}