html{
    background: #ff8000;
    background: linear-gradient(55deg, rgba(255, 128, 0, 1) 0%, rgba(253, 227, 29, 1) 66%, rgba(200, 252, 69, 1) 100%);
    margin: 0;
    min-height: 100vh;
}

h1{
    font-family: 'Dancing Script';
    font-weight: 900;
    margin-top: 0.3em;
    font-size: 4em;
    text-align: center;
    justify-content: align-top;
}

html {

  box-sizing: border-box;

}

*, *::before, *::after {

  box-sizing: inherit;

}

#piano {

  width: 992px;

  height: 290px;

  margin: 80px auto;

  padding: 90px 20px 0 20px;

  position: relative;

  border-radius: 10px;

}

.keys {

  background-color: #000000;

  width: 949px;

  height: 180px;

  padding-left: 2px;

  overflow: hidden;

}

.key {

  background-color: #ffffff;

  position: relative;

  width: 41px;

  height: 175px;

  margin: 2px;

  float: left;

  border-radius: 0 0 3px 3px;

}

.key.black--key::after {

  background-color: #1d1e22;

  content: "";

  position: absolute;

  left: -18px;

  width: 32px;

  height: 100px;

  border-radius: 0 0 3px 3px;

}

.logo {

  width: 200px;

  position: absolute;

  top: 23px;

}

@media (max-width: 768px) {

  #piano {

    width: 358px;

  }

  .keys {

    width: 318px;

  }

  .logo {

    width: 150px;

  }

}

@media (max-width: 1199px) and (min-width: 769px) {

#piano {

      width: 675px;

        }

          .keys {

              width: 633px;

                }

                }

}

}